/*FULL DOCUMENT*/
body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    color: black;
    max-height: 100%;
    max-width: 100%;
}

/*HEADER*/

.container {
    width: 80%;
    background-color:rgba(255, 255, 255, 0.8);
    margin: 2% auto;
    max-height: 100%;
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 2em;
    margin: 2% auto 2% auto;
    padding: 2% 0 2% 0; 
}

/*BODY*/

.contain {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.hangman {
    max-width: 15%;
    box-sizing: border-box;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.8);    
}

.hangman > img {
    height: 100%;
    width: 100%;    
}

#directions {
    text-align: center;
    font-size: 2em;
    font-style: bold;
    
}

.body {
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.bodyContent {
    text-align: left;
}

.content {
    margin: 1%;
    padding: 1% 0 1% 0;
    text-align: left;
}

.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    float: left;
}

.win-active {
    background: white;
    top: 60%;
    width: 100%;
    height: 40%;
    position: absolute;
    display: table;
    
}

.win-text-active {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.lose-active {
    background: white;
    top: 60%;
    width: 100%;
    height: 40%;
    position: absolute;
    display: table;
    
}

.lose-text-active {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}