/*FULL DOCUMENT*/
body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    color: white;
}

/*HEADER*/

.container {
    width: 80%;
    background-color:rgba(167, 163, 163, 0.8);
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 2em;
    margin: 2% auto 2% auto;
    padding: 2% 0 2% 0; 
}

/*BODY*/

.hangman {
    max-width: 20%;
    box-sizing: border-box;
    border: 2px solid red;
    margin: 0 auto;

}

.hangman > img {
    height: 90%;
    width: 90%;
}

#directions {
    text-align: center;
    font-size: 2em;
    font-style: bold;
    margin: 2%;
}

.body {
    border: 2px solid white;
}

.content {
    margin: 5%;
}